<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :title %>
    <%= f.input :body %>
    <%= f.input :location %>
    <h3>Attachments</h3>
    <div id="attachment_forms">
      <%= f.simple_fields_for(:attachments) do |a| %>
        <div class="attachment_form">
          <%= a.input :name %>
          <% if a.object.attachment? %>
            <%= link_to a.object.name.presence || a.object.attachment_url, a.object.attachment_url %>
          <% else %>
            <%= a.input :attachment %>
          <% end %>
          <%= a.hidden_field :attachment_cache %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
